<!--
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
-->
<div class="modal-body">
  <form [formGroup]="detailForm" (ngSubmit)="save()">
    <div class="form-group" *ngIf="!isNew">
      <strong>Id:</strong>
      <input type="text" class="form-control" formControlName="id" />
    </div>
    <div class="form-group">
      <strong>Title:</strong>
      <input
        type="text"
        [ngClass]="{
          'is-invalid':
            (detailForm.get('Title').errors &&
              detailForm.get('Title').touched) ||
            isExist
        }"
        class="form-control"
        formControlName="Title"
      />
      <div class="invalid-feedback" *ngIf="!isExist">Please enter a title</div>

      <div class="invalid-feedback" *ngIf="isExist">
        The title is already exist
      </div>
    </div>

    <div class="form-group">
      <strong>Year:</strong>
      <input
        [ngClass]="{
          'is-invalid':
            detailForm.get('Year').errors && detailForm.get('Year').touched
        }"
        type="text"
        class="form-control"
        formControlName="Year"
      />
      <div class="invalid-feedback">
        Please enter a year (in 4 digits format)
      </div>
    </div>
    <div class="form-group">
      <strong>Runtime:</strong>
      <input
        [ngClass]="{
          'is-invalid':
            detailForm.get('Runtime').errors &&
            detailForm.get('Runtime').touched
        }"
        type="text"
        class="form-control"
        formControlName="Runtime"
      />
      <div class="invalid-feedback">Please enter a runtime</div>
    </div>
    <div class="form-group">
      <strong>Genre:</strong>
      <input
        [ngClass]="{
          'is-invalid':
            detailForm.get('Genre').errors && detailForm.get('Genre').touched
        }"
        type="text"
        class="form-control"
        formControlName="Genre"
      />
      <div class="invalid-feedback">Please enter a genre</div>
    </div>
    <div class="form-group">
      <strong>Director:</strong>
      <input
        [ngClass]="{
          'is-invalid':
            detailForm.get('Director').errors &&
            detailForm.get('Director').touched
        }"
        type="text"
        class="form-control"
        formControlName="Director"
      />
      <div class="invalid-feedback">Please enter a director</div>
    </div>
    <!-- <input formControlName="date" type="date" useValueAsDate /> -->
    <!-- <button class="btn btn-success" type="submit">Save</button> -->
  </form>
  <p>Form value: {{ detailForm.value | json }}</p>
  <p>Form status: {{ detailForm.status | json }}</p>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    (click)="save()"
    [ngClass]="{
      disabled: detailForm.status === 'INVALID' || isExist
    }"
  >
    Save
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="closePanel($event)"
  >
    Close
  </button>
</div>
